.AddQuiz{
    align-items: center;
    text-align: center;

}

.QuizQuestions {

    background-color: darkseagreen ;
    background-position: center;
    align-content: center;
    padding: 16px;
    border-radius: 16px;
    color: black;

}
ul {
    list-style: none;

}

li {
    margin-top: 16px;
    background-color: darkgray;
    background-position: 20px;
    
    padding: 16px;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    font-size: 20px;

}

.redirect {
    background: none;
    border: none;

}


.Final{
    text-align: center;
}
