.AddQuiz{
    text-align: center;
}

.QuizQuestions {
    margin: 0 auto;
    width:40%;
    height: auto;
    background-color: darkseagreen ;
    padding: 16px;
    border-radius: 16px;
    color: black;
}
ul {
    list-style: none;
}

li {
    margin-top: 16px;
    background-color: darkgray;
    background-size: 100%;
    padding: 16px;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    font-size: 20px;
}
