.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;

}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: #e2e2e2;
}

.userpostcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
